body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: large;
    color: var(--color-white);
    background-color: darkblue;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://media.istockphoto.com/photos/blue-background-picture-id157571423?k=20&m=157571423&s=612x612&w=0&h=GxSD_uRBNlBtsvXo54kGstPong-zzqKR545fF1Y5Mws=);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.container{
    width: 70%;
    background-color: rgba(12, 51, 62, 0.908);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    z-index: 1;
    margin-left: 90px;
    opacity: tan;
    
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  .form-control {
    display: block;
    width: 80%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    opacity: 1;
  }
.header{
    text-align: center;
}